//list组件的scss
@mixin font_center($height){height:$height;line-height:$height;}
body{font-family: '微软雅黑';}
.list{
	img{clip:rect(30px,30px,30px,30px);position: absolute;}
	font-size: 12px;
	p{background:#444;color:#fff;text-transform:capitalize;
		height: 150px;line-height: 2em;
		font-size: 14px;
		// white-space: pre-line;
		// direction: rtl;
		// font-size:1.2em;font-variant: small-caps;
		// font:caption;text-indent: 2;
		// &:first-line{color:#499;}
		// &:first-letter{font-size:2em;color:#f99;}
	}
	span{font-size: 2em;}
}