//list组件的scss
.component-list{background: #eee;
	.warp{height:1000px;width:300px;overflow:scroll;border:2px solid #ccc;
		.a{height:500px;width:400px;background:#f10;}
		.b{height:500px;width:400px;background:#010;margin-top:100px;}
		.c{height:500px;width:400px;background:#67c;margin-top:100px;margin-bottom:1000px;}
	}
}