<!--a组件的html-->
<h1>师兄拉萨你发的来看</h1>
<style>
	li{height: 400px;width:400px; display: block;overflow: hidden;}
	img{display: block;width: 100%;}
</style>
<ul>
    <li><img data-original="http://img.hb.aicdn.com/972ce42b52e638aefcb836e07ee1af12c096ed1456f02-lhjC6P_fw658" class="lazy"></li>
    <li><img data-original="http://img.hb.aicdn.com/a359f21c72eec6deb7eca11675e75b162960d9943111b-UsTkFL_fw658" class="lazy"></li>
    <li><img data-original="http://img.hb.aicdn.com/084946433dc99d54759fc66b01444907805f0cd0b0d7-4ccMH4_fw658" class="lazy"></li>
    <li><img data-original="http://img.hb.aicdn.com/e74d353faed3f4f8ca3b34e56e0f1c797dfbfbef1aa70-evcQuY_fw658" class="lazy"></li>
</ul>
