<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="description" content="描述" />
<meta name="keyword" content="关键词" />
<head>
   <meta charset="UTF-8">
   <title>index</title>
   <script>
var _Data = {
server_btn_group: ${JSON.stringify(require('../components/server_btn_group/server_btn_group.in.html.js')())},
}

</script>
</head>
<body>
    ${require('../components/server_btn_group/server_btn_group.html')}
   <script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script></body>
</html>